@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --bg-color: #f6fff9;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --text-color: #363949;
    --dark-hover: #edf0f5;
    --color-light: rgba(132, 139, 200, 0.18);
    --border-radius-1: 0.4rem;
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --dark-color-varient: #677483;
    --hover: #fff;
    --green: hsl(106, 66%, 53%);
}


/*---=-==Dark theme variables --=-====-*/
.dark-theme-variables {
    --bg-color: #181a1e;
    --white: #202528cc;
    --text-color: #edeffd;
    --dark-color-varient: #a3bdcc;
    --box-shadow: 0 2rem 3rem var(--color-white);
    --dark-hover: #323048;
    --color-white: #202528cc;
    --color-light: rgba(0, 0, 0, 0.4);
    --hover: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

p {
    margin-bottom: 0;
}

body {
    background: var(--bg-color);
}

/* css for sidebar starts here */
.sidebar {
    background: var(--white);
    width: 240px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    transition: all 0.5s ease;
    overflow-y: auto;
}
.sidebar::-webkit-scrollbar{
    width: 1px;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 40px;
    color: var(--skin-color);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 35px;
    letter-spacing: 2px;
    color: var(--text-color);
    font-weight: 800;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 15px 0 15px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.active-bar{
    background: var(--skin-color);
    border-radius: 10px; 
    a>i,
    a>span{
        color: var(--white) !important;
    }

}

.sidebar .nav-links li:hover {
    background: var(--skin-color);
    border-radius: 10px;
}

.sidebar .nav-links li:hover a .link_name {
    color: #fff;
}

.sidebar .nav-links li:hover .icon-link i {
    color: #fff;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar.close .nav-links .link_name {
    display: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--dark-color-varient);
}

.sidebar.close .nav-links li a .link_name {
    /* opacity: 0; */
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    display: none;
    background-color: var(--hover);
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: var(--text-color);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu li:hover {
    background: none;
   
}

.sidebar .nav-links li .sub-menu a:hover {
    color: var(--skin-color);
    opacity: 1;
    /* background-color: var(--white); */
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 30px;
    border-radius: 0 6px 6px 0;
    transition: 0s;
    opacity: 0;
    display: block;
    pointer-events: none;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;

}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sub-menu li {
    list-style: circle !important;
}
.sub-menu .no-list {
    list-style: none !important;
}

/* css for sidebar ends here */

/* Css for narbar starts here */
.content {
    position: relative;
    width: calc(100% - 240px);
    left: 240px;
    transition: all .3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 75px);
    left: 75px;

}

/* css for the notification */
.notifications,
.message {
    position: relative;
}

.profile_ul {
    padding-left: 0;
    margin-bottom: 0;
    text-align: start;
}

.profile .profile_dd,
.notification_dd,
.message_dd {
    position: absolute;
    top: 50px;
    right: 0px;
    user-select: none;
    background: var(--hover);
    width: 400px;
    height: auto;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
        -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.notification_dd {
    width: 350px;
}

.profile .profile_dd:before,
.notification_dd:before,
.message_dd::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.notification_dd li,
.message_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.notification_dd li .notify_icon,
.message_dd li .notify_icon {
    display: flex;
}

.notification_dd li .notify_icon .icon,
.message_dd li .notify_icon .icon {
    display: inline-block;
    background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
    width: 40px;
    height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon,
.message_dd li.baskin_robbins .notify_icon .icon {
    background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon,
.message_dd li.mcd .notify_icon .icon {
    background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon,
.message_dd li.pizzahut .notify_icon .icon {
    background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon,
.message_dd li.kfc .notify_icon .icon {
    background-position: 0 -178px;
}

.notification_dd li .notify_data,
.message_dd li .notify_data {
    margin: 0 15px;
    width: 185px;
}

.notification_dd li .notify_data .title,
.message_dd li .notify_data .title {
    color: var(--dark-color-varient);
    font-weight: 400;
    font-size: 16px;
}

.notification_dd li .notify_data .sub_title,
.message_dd li .notify_data .sub_title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.notification_dd li .notify_status p {
    font-size: 12px;
}

.message_dd li .notify_status p {
    font-size: 12px;
    position: relative;
    left: 55px;
    top: 10px;
}

.notification_ul,
.message_ul {
    padding-left: 0;
    margin-bottom: 0px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}
.notification_ul::-webkit-scrollbar,
.message_ul::-webkit-scrollbar{
    display: none;
}

.notification_dd li.show_all,
.message_dd li.show_all {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.notification_dd li.show_all p,
.message_dd li.show_all p {
    font-weight: 500;
    font-size: 15px;
    color: #3b80f9;
    cursor: pointer;
}
.email-logo{
    clip-path: circle(50% at 50% 50%);
    width: 35px;
    height: 35px;
    /* padding: 1%; */
}
.email-logo img{
    width: 100%;
    height: 100%;
}
.notification_dd,
.message_dd {
    right: -15px;
    top: 40px;
    
}

.notification_dd li.show_all p:hover,
.message_dd li.show_all p:hover {
    text-decoration: underline;
}
 
.logout .picon .bx {
    color: var(--text-color);
    font-size: 22px;
}

.profile {
    position: relative;
}

.profile .profile_dd {
    width: 255px;
}

.profile .profile_dd:before {
    right: 10px;
}

.profile .profile_dd ul li {
    border-bottom: 1px solid #f1f2f4;
    list-style: none;
}

.profile .profile_dd ul li a {
    display: block;
    padding: 15px 35px;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.profile .profile_dd ul li a .picon {
    display: inline-block;
    width: 30px;
}

.profile .profile_dd ul li a:hover {
    background: var(--bg-color);
    color: var(--skin-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.profile .profile_dd ul li.profile_li a:hover {
    background: transparent;
    cursor: default;
    /* color: #7f8db0; */
}


.profile.active .profile_dd,
.notifications.active .notification_dd,
.message.active .message_dd {
    display: block;
}


nav {
    background: var(--white);
    height: 65px;
    padding: 1%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: .2s all ease-in-out;
    z-index: 10;
}

nav:hover {
    box-shadow: none;
}

.two {
    display: flex;
    gap: 1rem;
    padding: 1%;
}

.two .bx-menu {
    font-size: 25px;
    color: var(--text-color);
}

.search {
    border-radius: 20px;
    height: 35px;
    background: var(--bg-color);
    width: 220px;
    border: none;
    outline: none;
    padding: 3%;
    margin-top: -8px;
}

.search::placeholder {
    text-align: center;
    color: var(--text-color);
}

.bx-search-alt-2 {
    position: relative;
    left: -40px;
    font-size: 18px;
}

.sec {
    display: flex;
    gap: 40px;
}

.sec {
    color: var(--text-color);
}

.theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggler .active {
    background: var(--skin-color);
    color: white;
    border-radius: var(--border-radius-1);
}

.manage {
    display: flex;
    gap: 15px;
    padding-top: 5px;
    font-size: 25px;
}

nav .manage .badge {
    position: absolute;
    top: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--skin-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
}

.bx-cog {
    color: var(--skin-color);
    cursor: pointer;
}

.style-switcher {
    position: absolute;
    right: 250px;
    top: 60px;
    padding: 15px;
    width: 210px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    background: var(--hover);
    z-index: 101;
    border-radius: 5px;
    display: none;
    transition: all 0.3s ease;
}

.style-switcher.active {
    display: block;
}

.style-switcher .colors span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.style-switcher .color-1 {
    background: #ec1839;
}

.style-switcher .color-2 {
    background: #fa5b0f;
}

.style-switcher .color-3 {
    background: hsl(106, 66%, 53%);
}

.style-switcher .color-4 {
    background: #1854b4;
}

.style-switcher .color-5 {
    background: #f021b2;
}

.style-switcher::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent#fff transparent;
}

nav .profile-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile {
    display: flex;
    gap: 10px;
    text-align: center;
    color: var(--text-color);
    font-size: 12px;
}

/* Css for navbar ends here */
/*Css for the main part starts here*/
.container {
    padding: 0.7rem;
}

main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
    line-height: 4px;
}

main .emp {
    display: flex;
    grid-gap: 6px;
}

main .breadcrumbs li {
    list-style: none;
}

main .emp li {
    list-style: none;
}

main .breadcrumbs li a {
    text-decoration: none;
    font-size: 13px;
    color: var(--dark-color-varient);
}

main .emp li a {
    text-decoration: none;
    font-size: 13px;
    color: var(--dark-color-varient);
}

.hr {
    width: 100%;
    background: var(--text-color);
    height: 1px;
    margin-top: 10px;
}

.mother-card {
    padding: 2%;
}

.child-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 15px;
    margin-bottom: 1.5rem;
    transition: all .3s ease-in-out;
}

.cards {
    background: var(--white);
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transition: .3s all ease-in;
}

.cards:hover {
    box-shadow: none;
}

.cards:before {
    content: '';
    width: 10px;
    height: 100px;
    /* background: var(--dark-color-varient); */
    background: var(--skin-color);
}

.both-card-body {
    display: flex;
    width: 80%;
    gap: 8rem;
    margin: 0 auto;
}

.head {
    padding-top: 10px;
}

.down {
    position: relative;
    /* left: 1px; */
    top: 15px;
}

.down .back {
    background-color: var(--skin-color);
    padding: 8px;
    border-radius: 10px;
}

.down .back i {
    color: #fff;
    font-size: 25px;
    z-index: 0;
}

.head h2 {
    font-size: 25px;
    font-weight: 600;
}

.head p {
    margin-top: 10px;
    color: var(--dark-color-varient);
    font-weight: 300;
}

.down .bx {
    font-size: 35px;
    color: var(--dark-color-varient);
}

/*Css for the main part ends here*/
/*css for the footer*/
.footer {
    position: sticky;
    background: var(--bg-color);
    bottom: 0;
    width: 100%;
    /* height: 30px; */
    padding: 0.5%;
    z-index: 10;
}

.last {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}

.calender {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5rem;
    padding: 2%;
    margin-top: -20px;
}

.event-form {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transition: .3s all ease-in;
    padding: 2%;
    width: 400px;
}

.event-form:hover {
    box-shadow: none;
}

.event-form h2 {
    text-align: center;
    font-size: 22px;
}

.mb-2 {
    width: 80%;
    margin: 0 auto;
}

.button {
    text-align: center;
}

.event-table {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transition: .3s all ease-in;
    padding: 2%;
}

.event-table:hover {
    box-shadow: none;
}

.event-table h2 {
    font-size: 22px;
    text-align: center;
}

table {
    width: 100%;
    margin: 0 auto;

}

thead {
    background: var(--bg-color);
    height: 3rem;
    text-align: center;
}

thead tr th {
    color: var(--text-color);
    font-weight: 600;
    font-size: 13px;
}

tbody tr {
    text-align: center;
    height: 4rem;
}

tbody tr td {
    border-bottom: 1px solid var(--color-light);
    color: var(--dark-color-varient);
    font-size: 13px;
}

.color-top {
    position: relative;
    left: -8px;
    width: 8px;
    height: 40px;
    background: var(--skin-color);
}

.event-table .color-top {
    left: -12px;
}
.dropdown-menu .bx{
    color: var(--dark-color-varient);
    font-size: 20px;
}

/*css for add employee form*/
.create-employee{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    padding: 2%;
}
.campany-details{
    padding: 2%;
}
.personal-details{
    background: var(--white);
       border-radius: 10px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transition: .3s all ease-in;
    padding: 2%;
}
.personal-details:hover{
    box-sizing: none;
}
.heading{
    display: flex;
    gap: 20px;
}
.begin{
    padding: 1%;
}
.begin h2{
    color: var(--text-color);
    font-size: 18px;
}
.heading .color-top{
    position: relative;
    left: -10px;
    width: 5px;
    height: 30px;
    background: var(--skin-color);
}
hr{
    margin: 0;
    width: 100%;
    margin-bottom: 0.5rem;
}
.personal-details form{
    padding: 2%;
}
.personal-details form label{
    font-weight: 600;
    font-size: 15px;
}
.personal-details form label span{
    color: var(--color-danger);
}
.personal-details form input::placeholder{
    font-size: 13px;
    color: var(--text-color);
}
.personal-details form textarea::placeholder{
    font-size: 13px;
    color: var(--text-color);
}

/********CSS FOR THE MAIN BRANCH PAGE****/
.setup{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2%;
    gap: 1.5rem;
}

.setup .list{
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transition: .3s all ease-in;
    padding: 2%;
}
.setup .list ul{
    padding-top: 1rem;
    padding-left: 0px;
}
.setup .list ul li{
    list-style: none;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}
.setup .list ul li i{
    position: relative;
    top: 4px;
}
.setup .list ul li a{
    text-decoration: none;
    color: var(--text-color);
}
.setup .list ul .active-list {
    background: var(--skin-color);
    border-radius: 10px;
   
}
.setup .list ul .active-list a{
     color: #fff;
}
.setup .list ul .active-list i{
    color: #fff;
}

/* Employee details*/
.mother-profile{
    height: 390px;
}
.profile-head{
    display: flex;
    justify-content: center;
}
.profile-head h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.employee-image{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 80%;
    margin: 0 auto;
    height: 280px;
}
.employee-image img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-table{
    max-height: 390px;
    overflow-y: auto;
}
.details-table::-webkit-scrollbar{
    display: none;
}
.table_details{
    border: 1px solid var(--color-light);
}

.table_details tbody tr{
    text-align: left !important;
    height: 3rem !important;
}
.table_details tbody tr:nth-child(even){
    background-color: var(--bg-color);
}
.table_details tbody tr td{
    border-left: 1px solid var(--color-light);
    font-size: 15px;
}
.table_details tbody tr .begin{
    width: 30%;
}
.table_details tbody tr .end{
    padding: 1%;
}
.small-table{
    width: 90%;
    margin: 0 auto;
}
.top-form{
    width: 90%;
    margin: 0 auto;
    /* padding: 2; */
}
.plus{
    width: 40px;
     height: 30px;
      border: 1px solid #ced4da;
       display: flex; 
    justify-content: center; 
    position: relative; 
    top: 24px;
    padding: 2px;
}
.form-name::placeholder{
    font-size: 13px;
}
.modal-bg{
    background-color: var(--white);
}

@media (max-width: 1050px){
    .profile .info{
        display: none;
    }
}
@media (max-width: 900px){

    .search{
        display: none;
    }
    .bx-search-alt-2{
        display: none;
    }
}



.employee-landing{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}
/* Css for the calander */
.cale{
    
    padding: 2%;
    #calendar{
        background-color: var(--white);

        a{
            color: var(--text-color);
            text-decoration: none;
        }
    }
    .fc-icon{
        color: #fff;
    }
}

/* style for the employees dashboard */
.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .containers .clock {
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--white);
    box-shadow: var( --box-shadow);
    position: relative;
  }
  .clock label {
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg / 12)));
  }
  .clock label span {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    transform: rotate(calc(var(--i) * (-360deg / 12)));
  }
  .containers .indicator {
    position: absolute;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
  }
  .indicator::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
    background: var(--text-color);
    border: 4px solid var(--skin-color);
  }
  .indicator .hand {
    position: absolute;
    height: 100px;
    width: 4px;
    bottom: 0;
    border-radius: 25px;
    transform-origin: bottom;
    background: var(--skin-color);
  }
  .hand.minute {
    height: 90px;
    width: 5px;
    background: var(--text-color);
  }
  .hand.hour {
    height: 70px;
    width: 8px;
    background: var(--text-color);
  }
 
  
  .analog{

    padding: 2%;
    h2{
      text-align: center;
      font-size: 20px;
    }
  }
  
  
  .board{
    padding: 2%;
    h2{
      text-align: center;
      font-size: 20px;
    }
  }
  
  .notice{
    display: flex;
    padding: 15px;
    gap: 5px;
    .direction{
      background-color: var(--skin-color);
      clip-path: polygon(0 24%, 73% 25%, 100% 50%, 71% 76%, 0 76%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 150px;
      position: relative;
      top: -27px;
    }
  
    .line-separate{
      width: 2px;
      height: 90px;
      background-color: var(--skin-color);
      .point{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--text-color);
        position: relative;
        top: 23px;
        left: -4px;
      }
    }
  
    .notice-infor{
      padding: 5px;
      h2{
        margin-top: 10px;
        text-align: left;
        font-size: 16px;
      }
      h5{
        font-size: 13px;
        font-weight: 400;
        span{
          color: var(--skin-color);
        }
      }
    }
  }
  .begin{
    h2{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: 20px;
  
      img{
        width: 30px;
        margin-left: 10px;
      }
    }
  
  }
    
  
  .todo-app{
    padding: 40px 30px 70px;
  
    .input-row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #edeef0;
      border-radius: 30px;
      padding-left: 20px;
      margin-bottom: 25px;
    
    
      button{
        border: none;
        outline: none;
        padding: 16px 50px;
        background: var(--skin-color);
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
      }
      
      input{
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px;
        font-weight: 14px;
      }
    }
    
  
    ul li{
      list-style: none;
      font-size: 17px;
      position: relative;
      padding: 12px 8px 12px 50px;
      user-select: none;
      cursor: pointer;
    }
    
    ul li::before{
      content: '';
      position: absolute;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-image: url(../img/unchecked.png);
      background-size: cover;
      background-position: center;
      top: 12px;
      left: 8px;
    }
    Ul li.checked{
      color: #555;
      text-decoration: line-through;
    }
  
    Ul li.checked::before{
      background-image: url(../img/checked.png);
      background-size: cover;
      background-position: center;
    }
  
    ul li span{
      position: absolute;
      right: 0;
      top: 5px;
      width: 40px;
      height: 40px;
      font-size: 22px;
      color: #555;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
    }
  
    ul li span:hover{
      background: #edeef0;
    }
  }
  
  /* Login style */
  .landing-img {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-image {
    width: 75%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    }
}

.login-form {
    background-color: var(--bg-color);
    width: 597px;
    height: 100vh;
    position: relative;
    left: 768px;
    top: 0;

}

.separete{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem ,1fr));
    gap: 1rem;
    padding: 2%;
}





/* Chat CSS*/

.card {
    background:  var(--white);
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    margin-top: 20px;
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}


/*CSS for the login **/
.login_section {
    width: 100%;
    height: 100vh;
    background-image: url(../img/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    animation: animateBg 5s linear infinite;
}
/* @keyframes animateBg {
    100% {
      filter: hue-rotate(360deg);
    }
  } */
.login_container {
    width: 800px;
    height: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .login_image {
        background: transparent;
        backdrop-filter: blur(6px);
        border: 1px solid var(--skin-color);
        width: 102%;
        height: 100%;
        border-radius: 10px;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        padding: 3%;
        color: #fff !important;
        align-items: center;
        h2{
            font-size: 40px;
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 20px;
        }
       
        .login_register{
            width: 80%;
            img{
                width: 100%;
            }

        }
        
    }

    .login_forms {
        border-radius: 10px;
        padding: 5px;
        background-color: var(--white);
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 15px;

            img {
                width: 100px;
            }
        }

        .heading_words {
            text-align: center;
        }

        form {
            width: 350px;
            margin: 0 auto;
            padding: 15px;

            .bx {
                font-size: 20px;
                color: #fff;
            }

            label {
                font-size: 16px;
                font-weight: 600;
            }

            .forgot {
                a {
                    text-decoration: none;
                    color: var(--skin-color);
                    font-size: 14px;
                }
            }
            .input-group-text{
                background-color: var(--skin-color) !important;
            }
        }
    }
}
@media (max-width: 900px){
    .login_container{
        display: block !important;
        width: 450px;
    }
  .login_image{
    display: none !important;
  }
}
@media (max-width: 500px){
    .login_container{
        width: 90% !important;
        padding: 2% !important;
        .login_forms{
            background-color: #fff !important;
        }
        form{
            width: 95% !important;
            margin: 0 auto !important;
            .bx {
                font-size: 15px !important;
                color: #fff;
            }

        }
    }
}